<suite name="API TestSuite" threadcount="5" parallel="tests">
    <listeners>
        <listener class-name="utils.ExtentReporter"/>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test  name="API Product Basic Tests">
        <classes>
            <class name="testcases.ProductBasicTest"/>
        </classes>
    </test>
    <test  name="API Product External Json DDT Tests">
        <classes>
            <class name="testcases.ProductJsonDdt"/>
        </classes>
    </test>
    <test  name="API Product Excel data Tests">
        <classes>
            <class name="testcases.ProductExcelTest"/>
        </classes>
    </test>
    <test  name="API Users Basic Tests">
        <classes>
            <class name="testcases.UserBasicTests"/>
        </classes>
    </test>
    <test  name="API Users External Json DDT Tests">
        <classes>
            <class name="testcases.UserJsonDdt"/>
        </classes>
    </test>
    <test  name="API Users Excel data Tests">
        <classes>
            <class name="testcases.UserExcelTest"/>
        </classes>
    </test>
</suite>